.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 29rem;
  height:4.5rem;
  margin-top: 2px;
  border-bottom: 2px solid #ccc;
}
.avatar{
  display: flex;
  justify-content: center;
  align-content:center ;
  width:15%;
  height:4rem;
  padding:0.2rem;
}
